.listitemsSection {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.checkBoxSec {
    display: flex;
}

.checkBoxSec input {
    margin-right: 10px;
}

.custome-button-groups button ,.custome-button-groups  {
    margin: 4px;
}

button.AddToTaskButton.btn.btn-primary {
    margin-left: auto !important;
    display: flex;
    margin-bottom: 20px;
}